body{
  margin:0;
  padding:0;
  height: 100%;
}
.mainPage{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.top{
  background-color: #1B512D;
  top:0;
  position: sticky;
  z-index:10;
  height: 90px;
  display:flex;
  margin: 0;
  width: 100%;

}
.top .navBar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.top .navBar .logo{
  margin-left:100px;
}

.top .navBar .search{
  background-color: white;
  display: flex;
  align-items:center;
  border-radius: 28px;
  margin-left:70px;
  width: 680px;
}
.top .navBar .search button{
  display: none;
}
.top .navBar .search .searchIcon{
  width: 45px;
  margin-right: 10px;
}
.top .navBar .search .searchInput{
  font-size: medium;
  margin-left: 14px;
  background: transparent;
  border: none;
  outline: none;
  box-sizing:content-box;
  width: 100%;

}
.top .navBar .search .search:focus-within{
  outline: 125px;
  outline-color: aqua;
}

.nav{
  display:flex;
  justify-content:flex-end;
  min-width: max-content;
}
.nav ul{
  list-style:none;
  display:flex;
  gap:20px;

}
.nav ul li{
  display:block;
}
.nav ul li a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding:10px 15px;
}

.top2{
  background-color:rgb(248, 242, 242) ;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  position: sticky;
  top:0;
  z-index:10;
  height: 56px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.top2 .listContainer{
  display: flex;
  align-items: center;
}
.top2 .listContainer .block{
  width: 450px;
}
.top2 ul{
  list-style: none;
  display: flex;
  gap: 20px;
}
.top2 ul li{
  display: inline;

}
.top2 ul li a{
  color: green;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  outline: none;
}
.top2 ul li a:hover{
  text-decoration: underline;
}

.mainBodyContainer{
  height: 100%;
  background-color: blue;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.mainBody{
  background-color: white;
  width: 1300px;
  height: 100%;
}


.footerContainter{
  margin-top:auto;
}