*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  background-color: #1B512D;
  top:0;
  position: sticky;
  z-index:10;
  
}
.navBar{
  display: flex;
  align-items: center;
  padding: 20px;
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  flex-wrap: wrap;
}
nav{
  flex:1;
  text-align:right;  
}
nav ul{
  list-style-type: none;
}
nav ul li{
  display: inline-block;
  margin-right: 20px;
}
a{
  text-decoration: none;
  color:white; 
}

.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.advertize{
  flex-basis: 50%;
}
.advertize{
  flex-basis: 50%;
}
.advertize img{
  max-width: 100%;
  padding: 50px 30px ;
}
.advertize h1{
padding-left: 50px;
}
.advertize p{
  padding-left: 90px;
}