body{
  margin:0;
  padding:0;
  height: 100%;
}
.top{
  background-color: #1B512D;
  top:0;
  position: sticky;
  z-index:10;
  height: 90px;
  display:flex;
  margin: 0;
}
.top .navBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.top .navBar .logo{
  margin-left:100px;
  flex:1;
}
.top .navBar .search{
  background-color: white;
  flex:2 2 auto;
  display: flex;
  align-items:center;
  border-radius: 28px;
  margin-left:70px;
}
.top .navBar .search button{
  display: none;
}
.top .navBar .search .searchIcon{
  width: 45px;
  margin-right: 10px;
  flex:1;
}
.top .navBar .search .searchInput{
  font-size: medium;
  margin-left: 14px;
  background: transparent;
  outline: none;
  border: none;
  flex:2 2 680px;
}
.nav{
  display:flex;
  justify-content:flex-end;
  flex:1;
}
.nav ul{
  list-style:none;
  display:flex;
  gap:20px;

}
.nav ul li{
  display:block;
}
.nav ul li a{
  color: white;
  text-decoration:none;
  padding:10px 15px;
  flex:1;
}